<!--Title section-->
<div class="section section-lg pb-5">
    <div class="container">
        <div class="row text-center mt-4">
            <h2 class="h5">Accordion Example 1</h2>
        </div>
    </div>
</div>
<!--End of Title section-->
<div class="section section-md pt-0">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-8">
                <div class="accordion" id="accordionExample">
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="h6 mb-0 font-weight-bold">What is the purpose of a FAQ?</span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="h6 mb-0 font-weight-bold">What is a FAQ document?</span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="h6 mb-0 font-weight-bold">What are the top 10 interview questions?</span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Title section-->
<div class="section pt-0 pb-5">
    <div class="container">
        <div class="row text-center mt-4">
            <h2 class="h5">Accordion with Icons</h2>
        </div>
    </div>
</div>
<!--End of Title section-->
<div class="section section-lg pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="accordion" id="accordionExample2">
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <span>
                                        <span class="fab fa-leanpub mr-2"></span>
                                        <span class="h6 mb-0 font-weight-bold">What is the purpose of a FAQ?</span>
                                    </span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample2">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="justify-content-start">
                                        <span class="fas fa-question-circle mr-2"></span>
                                        <span class="h6 mb-0 font-weight-bold">What is a FAQ document?</span>
                                    </span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample2">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                    <div class="card border-light mb-0">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span class="justify-content-start">
                                        <span class="fas fa-microphone-alt mr-2"></span>
                                        <span class="h6 mb-0 font-weight-bold">What are the top 10 interview questions?</span>
                                    </span>
                                    <span class="icon"><span class="fas fa-plus"></span></span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
                            <div class="card-body">
                                <p class="mb-0">
                                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                                    helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                                </p>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>