<!-- Section -->
<div class="section section-lg">
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <span class="badge bg-primary text-uppercase">Primary</span>
                <span class="badge bg-secondary text-uppercase">Secondary</span>
                <span class="badge bg-tertiary text-uppercase">Tertiary</span>
                <span class="badge bg-gray text-uppercase">Gray</span>
                <span class="badge bg-success text-uppercase">Success</span>
                <span class="badge bg-danger text-uppercase">Danger</span>
                <span class="badge bg-warning text-dark text-uppercase">Warning</span>
                <span class="badge bg-info text-uppercase">Info</span>
            </div>
            <div class="col">
                <a href="#" class="badge bg-primary">Primary</a>
                <a href="#" class="badge bg-secondary">Secondary</a>
                <a href="#" class="badge bg-tertiary">Tertiary</a>
                <a href="#" class="badge bg-gray">Gray</a>
                <a href="#" class="badge bg-success">Success</a>
                <a href="#" class="badge bg-danger">Danger</a>
                <a href="#" class="badge bg-warning text-dark">Warning</a>
                <a href="#" class="badge bg-info">Info</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button type="button" class="btn btn-tertiary mb-2 mb-md-0">
                    Messages <span class="badge bg-primary">9</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Notifications <span class="badge bg-pill badge-tertiary">5</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </div>
            <div class="col">
                <span class="badge bg-primary text-uppercase mb-2 mb-md-0">Badge</span>
                <span class="badge badge-md bg-secondary text-uppercase mb-2 mb-md-0">Badge md</span>
                <span class="badge badge-lg bg-tertiary text-uppercase">Badge lg</span>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->