<footer class="footer pt-7 pb-6 @@classes">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-sm-left">
                <img class="navbar-brand-dark mb-4" height="35" src="@@path/assets/img/brand/picogrid-logo-white.svg" alt="Logo light">
                <p class="text-muted font-small mb-0">Livermore, CA</p>
                <p class="text-muted font-small mb-0">hello@picogrid.io</p>
                <p class="text-muted font-small mb-6">+1 (510) 775-0195</p>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Products</span>
                <ul class="footer-links mt-2">
                    <li><a href="/lander">Lander</a></li>
                    <li><a href="/orion">Orion</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Company</span>
                <ul class="footer-links mt-2">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <!-- <li><a href="/blog">Blog</a></li>
                    <li><a href="/white-papers">White Papers</a></li> -->
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Subscribe</span>
                <p class="text-muted font-small mt-2">Join our newsletter to get the latest on remote fieldwork from around the world.</p>
                <form action="https://formspree.io/mwkogzwl" method="POST">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 font-weight-normal text-muted" for="email">Email address</label>
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail3" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-tertiary shadow-soft btn-block" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">We’ll never share your details.</p>
            </div>
        </div>
        <hr class="bg-secondary my-5">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex justify-content-center">
                    <img src="@@path/assets/img/brand/picogrid-icon-white.svg" height="25" class="mb-3" alt="Picogrid Logo">
                </div>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">© <span class="current-year">2020</span> Picogrid, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
